<h1>Apartment Hunter</h1>

<%= form_for @location do |form| %>
  <h2>Enter a city and state</h2>
  <%= form.text_field :city_name, placeholder: "Dallas, TX" %>
  <%= form.submit "Add city" %>
<% end %>

<h2>Locations <%= link_to "Download as CSV", locations_path(format: :csv), class: "btn btn-primary pull-right" %></h2>
<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>City ID</th>
      <th>Crime</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.city_name %></td>
        <td><%= location.city_id %></td>
        <td><%= location.crime_rate == 0 ? "" : location.crime_rate.html_safe %></td>
        <td><%= button_to "Delete", location_path(location), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
