<h1>Apartment Hunter</h1>

<%= form_for @location do |form| %>
  <h2>New City</h2>
  <%= form.text_field :city %>
  <%= form.submit "Add city" %>
<% end %>

<h2>Locations</h2>
<table class="table">
  <thead>
    <tr>
      <th>City</th>
      <th>City ID</th>
      <th>Crime</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.city %></td>
        <td><%= location.city_id %></td>
        <td><%= location.all_crime %></td>
        <td><%= button_to "Delete", location_path(location), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
