<!DOCTYPE html>
<html>
  <head>
    <title>ApartmentHunter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <%= content_tag(:div, join_messages(msg), class: "alert alert-#{type}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
